# ===== IntelliJ / IDE =====
.idea/
*.iml

# ===== Node / Frontend =====
node_modules/
dist/
build/

# ===== Angular =====
.angular/
.cache/

# ===== Java / Spring =====
target/
*.class

# ===== Maven =====
.mvn/wrapper/maven-wrapper.jar

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Docker =====
**/CACHED
**/writing
**/reading
**/transferring
**/exporting
PORT-4200

